/* @group import */
/*@font-face {
    font-family: 'encode';
    src: url('../font/encode/encodesans-regular-webfont.eot');
    src: url('../font/encode/encodesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/encode/encodesans-regular-webfont.woff2') format('woff2'),
         url('../font/encode/encodesans-regular-webfont.woff') format('woff'),
         url('../font/encode/encodesans-regular-webfont.ttf') format('truetype'),
         url('../font/encode/encodesans-regular-webfont.svg#encode_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'encodeBold';
  src: url('../font/encode/encodesanswide-bold-webfont.eot');
  src: url('../font/encode/encodesanswide-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/encode/encodesanswide-bold-webfont.woff2') format('woff2'), url('../font/encode/encodesanswide-bold-webfont.woff') format('woff'), url('../font/encode/encodesanswide-bold-webfont.ttf') format('truetype'), url('../font/encode/encodesanswide-bold-webfont.svg#encode_sans_widebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'encodeSBold';
  src: url('../font/encode/encodesanswide-semibold-webfont.eot');
  src: url('../font/encode/encodesanswide-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/encode/encodesanswide-semibold-webfont.woff2') format('woff2'), url('../font/encode/encodesanswide-semibold-webfont.woff') format('woff'), url('../font/encode/encodesanswide-semibold-webfont.ttf') format('truetype'), url('../font/encode/encodesanswide-semibold-webfont.svg#encode_sans_widesemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: 'encodeMedium';
    src: url('../font/encode/encodesanswide-medium-webfont.eot');
    src: url('../font/encode/encodesanswide-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/encode/encodesanswide-medium-webfont.woff2') format('woff2'),
         url('../font/encode/encodesanswide-medium-webfont.woff') format('woff'),
         url('../font/encode/encodesanswide-medium-webfont.ttf') format('truetype'),
         url('../font/encode/encodesanswide-medium-webfont.svg#encode_sans_widemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: 'lato';
  src: url('../font/lato/Lato-Reg.eot');
  src: url('../font/lato/Lato-Reg.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Reg.woff') format('woff'), url('../font/lato/Lato-Reg.ttf') format('truetype'), url('../font/lato/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'latoBold';
  src: url('../font/lato/Lato-Bol.eot');
  src: url('../font/lato/Lato-Bol.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Bol.woff') format('woff'), url('../font/lato/Lato-Bol.ttf') format('truetype'), url('../font/lato/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  font-style: normal;
  font-weight: normal;
}
/*.crimson(@size){
  font-family: 'crimson', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
/*.encode(@size){
  font-family: 'encode', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.encodeMedium(@size){
  font-family: 'encodeMedium', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
/* @end */
/* @group global var */
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #343434;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
body {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}
a {
  color: #f08c05;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
section {
  overflow: hidden;
}
.btn {
  text-transform: uppercase;
  color: #ffffff;
  background: #011745;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  float: right;
}
.btnO {
  background: #f08c05;
}
h1,
.h1 {
  color: #e64314;
  text-transform: uppercase;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 1px solid #9c9e9f;
  padding: 30px 0 5px;
}
h2,
.h2 {
  color: #343434;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  width: 1040px;
  margin: 0 auto;
}
.content {
  margin: 40px;
}
.main {
  width: 605px;
  padding: 0 0 10px 20px;
  display: inline-block;
  border-bottom: #9c9e9f 1px solid;
}
aside {
  width: 295px;
  margin: 0 0 0 40px;
  padding: 0 0 10px;
  display: inline-block;
  vertical-align: top;
  border-bottom: #9c9e9f 1px solid;
}
.orange {
  color: #f08c05;
}
#logo {
  display: inline-block;
  width: 148px;
  height: 123px;
  background: url(../layoutImg/logo.jpg) no-repeat 0 100%;
  margin: 0 10px 0 0;
}
header ul {
  display: inline-block;
  vertical-align: top;
  padding: 25px 0 0;
}
header li {
  display: inline-block;
  margin: 0 0 0 25px;
}
header li a {
  text-transform: uppercase;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #011745;
  padding: 8px 2px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header li a:hover,
header li a:focus,
header li a.actif {
  color: #f08c05;
  border-bottom: 5px solid #e64314;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
footer p {
  text-align: center;
}
.home h1 {
  color: #011745;
  text-transform: uppercase;
  font-family: 'encodeSBold', sans-serif;
  font-weight: normal;
  font-size: 3.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  padding: 80px 0 0;
  margin: 0;
}
.home p {
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: 1.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mosaique img {
  vertical-align: top;
}
.mosaique .mos1 {
  padding: 0 9px 9px 0;
}
.mosaique .mos3 {
  padding: 0 9px 0 0;
}
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
