/* @group import */
@font-face {
  font-family: 'encodeBold';
  src: url('../font/encode/encodesanswide-bold-webfont.eot');
  src: url('../font/encode/encodesanswide-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/encode/encodesanswide-bold-webfont.woff2') format('woff2'), url('../font/encode/encodesanswide-bold-webfont.woff') format('woff'), url('../font/encode/encodesanswide-bold-webfont.ttf') format('truetype'), url('../font/encode/encodesanswide-bold-webfont.svg#encode_sans_widebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'encodeSBold';
  src: url('../font/encode/encodesanswide-semibold-webfont.eot');
  src: url('../font/encode/encodesanswide-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/encode/encodesanswide-semibold-webfont.woff2') format('woff2'), url('../font/encode/encodesanswide-semibold-webfont.woff') format('woff'), url('../font/encode/encodesanswide-semibold-webfont.ttf') format('truetype'), url('../font/encode/encodesanswide-semibold-webfont.svg#encode_sans_widesemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../font/lato/Lato-Reg.eot');
  src: url('../font/lato/Lato-Reg.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Reg.woff') format('woff'), url('../font/lato/Lato-Reg.ttf') format('truetype'), url('../font/lato/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'latoBold';
  src: url('../font/lato/Lato-Bol.eot');
  src: url('../font/lato/Lato-Bol.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Bol.woff') format('woff'), url('../font/lato/Lato-Bol.ttf') format('truetype'), url('../font/lato/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'latoIt';
  src: url('../font/lato/Lato-RegIta.eot');
  src: url('../font/lato/Lato-RegIta.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-RegIta.woff') format('woff'), url('../font/lato/Lato-RegIta.ttf') format('truetype'), url('../font/lato/Lato-RegIta.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.eot?-njuoqu');
  src: url('../font/icomoon.eot?#iefix-njuoqu') format('embedded-opentype'), url('../font/icomoon.woff?-njuoqu') format('woff'), url('../font/icomoon.ttf?-njuoqu') format('truetype'), url('../font/icomoon.svg?-njuoqu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-globe:before {
  content: "\e603";
}
.icon-map:before {
  content: "\e606";
}
.icon-fleche:before {
  content: "\e602";
}
.icon-outil:before {
  content: "\e604";
}
.icon-serrure:before {
  content: "\e605";
}
.icon-close:before {
  content: "\e601";
}
.icon-enveloppe:before {
  content: "\e600";
}
/* @end */
/* @group global var */
/* @end */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #343434;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}
img {
  vertical-align: middle;
}
img.left,
img.alignleft {
  float: left;
  padding: 0 20px 10px 0;
}
img.alignright {
  float: right;
  padding: 0 0 10px 20px;
}
img.aligncenter {
  margin: 0 auto;
  padding: 0 0 20px;
  display: block;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
body {
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 0.88em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}
strong,
b {
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
em,
i {
  font-family: 'latoIt', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
blockquote {
  font-family: 'latoIt', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1em 20px;
}
/* Liens et boutons */
a {
  border-bottom: transparent 1px solid;
  text-decoration: none;
  color: #f08c05;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
a:hover,
a:focus {
  color: #e64314;
  border-color: #e64314;
  outline: 0;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
a:active {
  opacity: 0.7;
}
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 30px;
  border: 0;
  background: #011745;
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 7px;
}
.btn:hover,
.btn:focus {
  background: #e64314;
  color: #ffffff;
}
.btn:hover:before,
.btn:focus:before {
  left: 20px;
  -webkit-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}
.btn:before {
  content: '›';
  position: absolute;
  margin-top: -13px;
  top: 50%;
  left: 15px;
  font-size: 1.5em;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.btn.float {
  float: right;
}
.btn.prev {
  float: left;
}
.btn.prev:before {
  content: '‹';
}
.btn.prev:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  height: 37px;
  width: 10px;
  background: #ffffff;
}
.btn.prev:hover:before,
.btn.prev:focus:before {
  left: 10px;
}
.btn.next {
  float: right;
  padding: 10px 30px 10px 20px;
}
.btn.next:after {
  content: '›';
  position: absolute;
  margin-top: -13px;
  top: 50%;
  right: 15px;
  font-size: 1.5em;
  -webkit-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}
.btn.next:before {
  content: '';
  display: block;
  top: 0;
  left: -10px;
  height: 37px;
  width: 10px;
  background: #ffffff;
}
.btn.next:hover:after,
.btn.next:focus:after {
  right: 10px;
}
.btnO {
  background: #f08c05;
}
.lien {
  position: relative;
  margin: 5px 0 10px;
  padding: 0 5px 0 0;
  border-bottom: 1px solid;
  font-family: 'latoIt', sans-serif;
  font-weight: normal;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lien:before {
  content: '›';
  position: absolute;
  left: -15px;
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.lien:hover,
.lien:focus {
  color: #e64314;
}
.lien:hover:before,
.lien:focus:before {
  left: -10px;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.icon-close {
  position: absolute;
  border: 0;
}
.icon-close:hover,
.icon-close:focus {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  color: #e64314;
}
/* Styles génériques */
h1,
.h1 {
  padding: 30px 0 0;
  border-bottom: 1px solid #9c9e9f;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e14d07;
  text-transform: uppercase;
  margin: 0 0 1em;
}
h1.padLeft,
.h1.padLeft {
  margin-left: 20px;
  margin-right: 20px;
}
.smallH1 {
  padding: 30px 0 5px;
  font-size: 1em;
}
.smallH1.icon-enveloppe,
.smallH1.icon-map {
  position: relative;
  margin: 15px 0 20px 40px;
}
.smallH1.icon-enveloppe:before,
.smallH1.icon-map:before {
  position: absolute;
  top: 14px;
  left: -40px;
  font-family: 'icomoon';
  font-size: 50px;
  color: #f2a189;
}
.smallH1.icon-map {
  margin-left: 36px;
  color: #e64314;
}
.smallH1.icon-map:before {
  top: 17px;
  font-size: 41px;
}
h2,
.h2 {
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343434;
}
.h2Bleu {
  padding: 30px 0 10px 20px;
  border-bottom: 1px solid #9c9e9f;
  font-size: 1.15em;
  text-transform: uppercase;
  color: #7089bd;
}
ul {
  list-style: none;
}
ul li {
  outline: 0;
  margin: 0 0 5px;
  position: relative;
}
ul li:before {
  content: '• ';
  font-size: 10px;
  color: #e64314;
  position: absolute;
  left: -10px;
  top: 4px;
}
.bigP {
  font-size: 1.15em;
}
.chapo {
  font-size: 1.1em;
}
/* Blocs de contenu */
.wrapper {
  width: 1040px;
  margin: 0 auto;
}
.content {
  margin: 145px 40px 40px 40px;
}
.content.padLeft > h1,
.content.padLeft > p,
.content.padLeft > h2,
.content.padLeft > .oh,
.content.padLeft > section {
  margin-left: 20px;
}
.single .content.padLeft > .oh,
.single .content.padLeft > section {
  margin-left: 0;
}
.main {
  display: inline-block;
  width: 605px;
  padding: 0 0 0 20px;
}
.main.border {
  padding: 0 0 10px 20px;
  border-bottom: #9c9e9f 1px solid;
}
aside,
.aside {
  display: inline-block;
  width: 295px;
  margin: 0 0 0 40px;
  vertical-align: top;
}
aside.border,
.aside.border {
  padding: 0 0 10px;
  border-bottom: #9c9e9f 1px solid;
}
aside.contact,
.aside.contact {
  padding-bottom: 30px;
}
section {
  margin: 0 0 20px 0;
}
.fl {
  float: left;
}
.oh {
  overflow: hidden;
}
.w720 {
  width: 720px;
}
.w480 {
  width: 480px;
}
.orange {
  color: #f08c05;
}
/* Formulaires */
form + p {
  display: inline-block;
}
form + p span {
  color: #e64314;
}
form > fieldset:first-child {
  margin: 0;
}
fieldset {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 20px;
}
fieldset.w50 {
  width: 50%;
}
fieldset.message,
fieldset.block {
  display: block;
}
fieldset.error input {
  border-color: #ff000d;
}
input,
textarea {
  display: block;
  padding: 5px;
  border: 1px solid #000000;
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 4px;
  outline: 0;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
input:focus,
textarea:focus {
  border-color: #f08c05;
  -webkit-transition: border 0.1s ease-in-out;
  transition: border 0.1s ease-in-out;
}
input[type=text],
input[type=email],
input[type=tel] {
  width: 271px;
  height: 16px;
}
input[type=submit] {
  margin: 20px 0 10px;
  padding: 10px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
input[type=submit]:hover,
input[type=submit]:focus {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
#nom,
#tel {
  width: 200px;
}
textarea {
  width: 95%;
  height: 150px;
}
select {
  cursor: pointer;
  font-size: 16px;
  min-width: 80px;
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}
.select {
  margin: 0 10px 0 0;
  width: 50px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 5px 4px;
  background: #f8f8f8 url(../layoutImg/select.png) no-repeat 90% 50%;
  overflow: hidden;
}
.select.objet {
  width: 250px;
  margin: 10px 0 0;
  display: block;
  background-position: 97% 50%;
}
#objet {
  width: 280px;
}
label {
  margin: 0 0 5px;
  display: block;
}
label span {
  color: #e64314;
}
.blockError {
  float: right;
  display: inline-block;
  margin: -40px 80px 0 0;
  font-family: 'latoIt', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blockError span {
  color: #ff000d;
}
/* Logo */
#logo {
  display: inline-block;
  position: relative;
  width: 148px;
  height: 123px;
  margin: 0 10px 0 0;
  border: 0;
  z-index: 2;
  background: url(../layoutImg/logo.png) no-repeat 0 100%;
}
/* Burger responsive menu */
#burger {
  display: none;
  position: absolute;
  top: 45px;
  right: 40px;
  z-index: 2;
  border: 0;
  font-size: 1.2em;
  color: #011745;
}
#burger:hover,
#burger:focus {
  color: #f08c05;
}
#burger:hover .btnBurger span,
#burger:focus .btnBurger span {
  margin: 0 0 4px;
  background: #f08c05;
  -webkit-transition: background 0.3s ease-in-out, margin 0.2s;
  transition: background 0.3s ease-in-out, margin 0.2s;
}
.btnBurger {
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.btnBurger span {
  display: block;
  width: 20px;
  height: 3px;
  margin: 0 0 3px;
  background: #011745;
  border-radius: 10px;
  -webkit-transition: background 0.3s ease-in-out, margin 0.2s, -webkit-transform 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, margin 0.2s,-webkit-transform 0.3s ease-in-out,-moz-transform 0.3s ease-in-out,-o-transform 0.3s ease-in-out,transform 0.3s ease-in-out;
}
/* Header */
header {
  padding: 0 10px;
  position: fixed;
  width: 1040px;
  background: #fff;
  top: 0;
  z-index: 1;
}
header .menu {
  display: inline-block;
  padding: 25px 0 0;
  vertical-align: top;
}
header ul {
  display: inline-block;
  padding: 0;
}
header li {
  display: inline-block;
  margin: 0 0 0 25px;
}
header li:before {
  display: none;
}
header li.current-menu-item a {
  border-bottom: 5px solid #e64314;
  color: #f08c05;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
header a {
  padding: 8px 2px;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #011745;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header a:hover,
header a:focus,
header a.actif {
  border-bottom: 5px solid #e64314;
  color: #f08c05;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
/* Footer */
footer {
  padding: 60px 20px 20px;
}
footer p {
  text-align: center;
  color: #9f9f9f;
}
footer a {
  border-bottom: 1px solid;
  color: #797979;
}
footer a:hover,
footer a:focus {
  color: #011745;
  border-color: #011745;
}
/* Page d'accueil */
.home h1 {
  margin: 0;
  padding: 71px 0 0;
  border: 0;
  font-family: 'encodeSBold', sans-serif;
  font-weight: normal;
  font-size: 3.3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #011745;
}
.home .lien {
  float: right;
  font-size: 1.7em;
}
/* Mosaique, page d'accueil, a propos et cartographie */
.mosaique {
  vertical-align: bottom;
}
.mosaique div {
  display: inline-block;
  position: relative;
  width: 143px;
  height: 144px;
  vertical-align: top;
}
.mosaique .mos1 {
  margin: 0 9px 9px 0;
}
.mosaique .mos3 {
  margin: 0 9px 0 0;
}
.mosaique img {
  position: absolute;
}
.mosaique.simple {
  float: right;
  width: 199px;
  margin: 40px 0 0;
}
.mosaique.simple div {
  width: 92px;
  height: 92px;
}
.mosaique.simple img {
  width: 100%;
}
.mosaique.simple .mos1 {
  margin: 0 15px 15px 0;
}
.mosaique.simple .mos3 {
  margin: 0 15px 0 0;
}
.mosaique.simple.big {
  width: 433px;
}
.mosaique.simple.big div {
  width: 209px;
  height: 209px;
}
/* Packery, pages partenaires, references, cartographie */
.packery {
  padding: 10px 0 0;
  margin: 0 0 0 19px;
}
.packery > li {
  width: 221px;
  height: 221px;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
}
.packery > li:hover h3:before,
.packery > li:focus h3:before {
  padding: 0 5px 0 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.packery > li img {
  max-width: 90%;
  height: auto;
}
.packery > li li {
  padding: 0 0 7px;
  font-size: 1.15em;
}
.packery > li:before {
  display: none;
}
.packery > li.open,
.no-js .packery > li {
  width: 460px;
  height: 460px;
  padding: 22px 25px;
  text-align: left;
  cursor: auto;
}
.packery > li.open .btn,
.no-js .packery > li .btn {
  display: inline-block;
}
.packery > li.open .btn:before,
.no-js .packery > li .btn:before {
  margin-top: -11px;
}
.packery > li.open span,
.no-js .packery > li span {
  display: block;
  margin: 50px 0 25px;
  width: 300px;
}
.packery > li.open ul,
.no-js .packery > li ul {
  display: block;
  margin: 50px 0 25px;
  padding: 0;
}
.packery > li.open p,
.no-js .packery > li p {
  font-size: 1.15em;
}
.packery > li.open .icon-close,
.no-js .packery > li .icon-close,
.packery > li.open p,
.no-js .packery > li p {
  display: block;
}
.packery > li.open h3,
.no-js .packery > li h3 {
  margin: 0;
  text-indent: 9px;
}
.packery > li.open h3:before,
.no-js .packery > li h3:before {
  margin: 0 0 0 -15px;
  padding: 0 10px 0 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.packery > li.open h3 span,
.no-js .packery > li h3 span {
  width: auto;
  margin: 0;
}
.packery > li.open h3 + p,
.no-js .packery > li h3 + p {
  margin-top: 50px;
}
.packery span,
.packery ul,
.packery .btn,
.packery p {
  display: none;
}
.packery h3 {
  display: inline-block;
  margin: 100px 0 0;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}
.packery h3:before {
  content: '▶ ';
  display: inline-block;
  padding: 0 10px 0 0;
  font-size: 9px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.lt-ie9 .packery h3:before {
  display: none;
}
.packery h3 span {
  display: block;
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-transform: none;
}
.packery .icon-close {
  display: none;
  top: 12px;
  right: 12px;
  font-size: 35px;
  color: #ffffff;
}
.packery .icon-close:hover,
.packery .icon-close:focus {
  color: #e64314;
}
.packery.partenaires li {
  border: 1px solid #dcdcdc;
  background: #fcfcfc;
  line-height: 215px;
  color: #343434;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
.packery.partenaires li:hover,
.packery.partenaires li:focus {
  border-color: #011745;
  -webkit-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
}
.packery.partenaires li.open,
.no-js .packery.partenaires li {
  line-height: 18px;
}
.packery.partenaires .icon-close {
  color: #011745;
}
.packery.partenaires .icon-close:hover,
.packery.partenaires .icon-close:focus {
  color: #f08c05;
}
.packery.module > li {
  background: #011745;
}
.packery.fonctions > li {
  width: 173px;
  background: #f08c05;
}
.packery.fonctions > li.open,
.no-js .packery.fonctions > li {
  width: 365px;
}
.no-js .packery {
  margin: 0;
}
.no-js .packery > li {
  display: inline-block;
  vertical-align: top;
  cursor: auto;
  margin: 0 0 19px 19px;
}
.no-js .packery > li .icon-close {
  display: none;
}
/* Schema page Saas */
.schema {
  position: relative;
  height: 380px;
  margin: 50px 0 0;
}
.schema span {
  display: inline-block;
  width: 110px;
  vertical-align: middle;
  padding: 0 5px;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-transform: uppercase;
  color: #f08c05;
}
.elt {
  position: absolute;
}
.securite {
  top: 0;
  right: 0;
}
.utilisateur {
  top: 15px;
  left: 0;
  background: #ffffff;
}
.prescripteur {
  bottom: 61px;
  left: 0;
  background: #ffffff;
}
.prescripteur span {
  width: 135px;
}
.bulle {
  top: 50px;
  left: 50px;
}
.b1 {
  width: 343px;
  height: 145px;
  background: url(../layoutImg/saas/devices.png) no-repeat;
}
.b2 {
  width: 166px;
  height: 72px;
  background: url(../layoutImg/saas/smallDevices.png) no-repeat;
}
.serrure {
  right: 205px;
}
.serrure .trait {
  width: 60px;
}
.lt-ie9 .serrure .trait {
  background: none;
}
.picto {
  width: 42px;
  height: 42px;
  z-index: 1;
  background: url(../layoutImg/saas/serrure.png) no-repeat;
}
.s1 {
  top: 60px;
}
.s1 .picto {
  top: -35px;
  left: -25px;
}
.s1 .trait {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.s2 {
  bottom: 65px;
}
.s2 .picto {
  bottom: -46px;
  left: -20px;
}
.s2 .trait {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.trait {
  height: 10px;
  background: #83d0f6;
}
.t1 {
  width: 475px;
  top: 40px;
  right: 275px;
}
.t2 {
  width: 460px;
  bottom: 86px;
  right: 275px;
}
/* Liste avantages page Saas */
.avantages {
  padding: 0 0 40px;
}
.avantages > li {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.avantages > li:before {
  vertical-align: middle;
  font-size: 90px;
  position: relative;
  left: auto;
  top: auto;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.avantages > li:after {
  content: ' ▾ ';
  display: block;
  position: absolute;
  width: 160px;
  height: 0;
  background: #e14d07;
  font-size: 0;
  line-height: 0;
  text-align: center;
  color: #e14d07;
  -webkit-transition: font-size 0.3s ease-in-out, height 0.3s ease-in-out 0.1s;
  transition: font-size 0.3s ease-in-out, height 0.3s ease-in-out 0.1s;
}
.lt-ie9 .avantages > li:after {
  content: ' ';
}
.avantages > li.on,
.avantages > li:hover,
.avantages > li:focus {
  color: #e14d07;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.avantages > li.on:before,
.avantages > li:hover:before,
.avantages > li:focus:before {
  color: #e14d07;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.avantages > li.on:after,
.avantages > li:hover:after,
.avantages > li:focus:after {
  height: 6px;
  font-size: 25px;
  line-height: 11px;
  -webkit-transition: height 0.3s ease-in-out, font-size 0.3s ease-in-out 0.1s;
  transition: height 0.3s ease-in-out, font-size 0.3s ease-in-out 0.1s;
}
.lt-ie9 .avantages > li.on:after,
.lt-ie9 .avantages > li:hover:after,
.lt-ie9 .avantages > li:focus:after {
  content: '';
}
.no-js .avantages > li {
  display: block;
  width: 100%;
  cursor: auto;
}
.no-js .avantages > li:hover:after {
  display: none;
}
.avantages span {
  display: inline-block;
  width: 122px;
  vertical-align: middle;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 16px;
  text-transform: uppercase;
}
.no-js .avantages span {
  width: 70%;
}
.no-js .avantages span br {
  display: none;
}
.avantages .icon-serrure {
  width: 220px;
}
.avantages .icon-serrure:before {
  margin-left: -12px;
  color: #83d0f6;
}
.lt-ie9 .avantages .icon-serrure.on:before {
  content: "\e605 ";
}
.avantages .icon-globe {
  width: 260px;
}
.avantages .icon-globe:before {
  color: #f08c05;
}
.lt-ie9 .avantages .icon-globe.on:before {
  content: "\e603 ";
}
.avantages .icon-globe:after {
  width: 175px;
  margin-left: 15px;
}
.avantages .icon-outil {
  width: 260px;
}
.avantages .icon-outil:before {
  color: #9f9f9f;
}
.lt-ie9 .avantages .icon-outil.on:before {
  content: "\e604 ";
}
.avantages .icon-outil:after {
  width: 183px;
  margin-left: 12px;
}
.avantages .icon-fleche {
  width: 200px;
}
.avantages .icon-fleche:before {
  color: #4c5361;
}
.lt-ie9 .avantages .icon-fleche.on:before {
  content: "\e602 ";
}
.avantages .icon-fleche:after {
  width: 166px;
  margin-left: 6px;
}
.avantages div {
  display: none;
  margin: 10px 0 30px;
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: auto;
}
.avantages div p {
  margin: 0;
}
.avantages div ul {
  margin: 5px 0 0;
  padding: 0 0 0 20px;
}
.avantages div ul li:before {
  font-size: 15px;
  top: 1px;
}
.no-js .avantages div {
  display: inline-block;
}
.avantages .fleche {
  display: none;
}
#detail {
  min-height: 100px;
}
#dContent {
  display: none;
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e14d07;
}
#dContent ul {
  margin: 5px 0 0;
  padding: 0 0 0 20px;
}
#dContent ul li:before {
  font-size: 15px;
  top: 1px;
}
#dContent p {
  margin: 0;
}
/* Page Contact */
.adress {
  margin-bottom: 30px;
  text-align: center;
}
.adress span {
  color: #e64314;
}
.adress + .lien {
  margin-left: 55px;
}
.adress + .lien .icon-enveloppe {
  position: absolute;
  top: -10px;
  left: -58px;
  font-size: 50px;
  color: #f2a189;
}
#map {
  height: 220px;
}
/* Actualités */
.blog article,
.category article {
  position: relative;
  overflow: hidden;
  padding: 0 0 30px;
  margin: 0 0 25px;
}
.blog article:after,
.category article:after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  background: url(../layoutImg/border.png) repeat-x;
}
time {
  color: #f9ba41;
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
time + h2 {
  margin-top: 5px;
}
.navActus {
  padding: 0;
  text-align: center;
}
.navActus li {
  display: inline-block;
  text-align: center;
  min-width: 15px;
  padding: 0 2px;
}
.navActus li:before {
  display: none;
}
.navActus a {
  color: #343434;
}
.navActus a:hover,
.navActus a:focus {
  color: #e64314;
}
.navActus span {
  width: 100%;
  display: block;
  background: #f08c05;
  color: #fff;
}
.single article {
  padding: 30px 0 0;
}
.single article > div {
  display: inline-block;
  vertical-align: top;
  width: 685px;
  padding: 0 0 35px;
  border-bottom: 1px solid #9c9e9f;
}
.single article > div .attachment-msc {
  margin: 0 25px 30px 0;
  float: left;
}
.single article > div img {
  max-width: 100%;
  height: auto;
}
.single article .btn {
  margin-top: -20px;
}
.sidebar-blog {
  width: 250px;
  margin: 0;
  position: fixed;
  /*+ article{
    margin-left: 20px;
  }*/
}
.sidebar-blog + .oh {
  display: inline-block;
  width: 685px;
  margin-left: 270px !important;
}
.cat,
.listCat a {
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #011745;
  border-color: #011745;
}
.cat:hover,
.cat:focus,
.listCat a:hover,
.listCat a:focus {
  color: #f08c05;
  border-color: #f08c05;
}
.listCat {
  padding: 0 0 0 10px;
  margin: 5px 0 0;
}
.listCat li:before {
  color: #011745;
}
.listCat li.current-cat:before {
  color: #f08c05;
}
.listCat li.current-cat a {
  color: #f08c05;
  border-color: #f08c05;
}
.nbComments {
  padding: 20px 0 0;
  display: inline-block;
}
.nbComments + .btn {
  float: right;
}
#comments {
  margin: 40px 0 0;
}
#comments form {
  margin: 40px 0 0;
}
#comments .blockError {
  margin: 20px 0 0;
}
#comments #submit {
  float: right;
  margin: 0;
}
#comments textarea {
  height: 95px;
}
#comments fieldset {
  margin: 0 0 11px;
  vertical-align: top;
}
.list-comments {
  padding: 0 !important;
}
.list-comments ul {
  padding: 30px 0 0;
}
.list-comments li {
  position: relative;
  min-height: 50px;
  margin: 0 0 35px;
}
.list-comments li:before {
  display: none;
}
.list-comments li div {
  margin-left: 60px;
}
.list-comments .avatar {
  position: absolute;
}
.date-comment {
  color: #9f9f9f;
}
/* @group General */
/* selection */
::-moz-selection {
  background: #011745;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #011745;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
@media (max-width: 1040px) {
  .wrapper {
    width: 100%;
  }
  .content {
    margin: 20px;
  }
  .content.padLeft > h1,
  .content.padLeft > p,
  .content.padLeft > h2,
  .content.padLeft > .oh,
  .content.padLeft > section {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main,
  aside,
  .aside {
    display: block;
    width: 635px;
    margin: 0 auto;
  }
  aside.border,
  .aside.border {
    padding: 0 0 0 20px;
  }
  aside.contact,
  .aside.contact {
    padding: 20px 0 30px 20px;
  }
  .fl {
    float: none;
  }
  .w720,
  .w480 {
    width: auto;
  }
  header {
    width: auto;
    position: relative;
  }
  .sidebar-blog {
    position: relative;
    display: inline-block;
  }
  .sidebar-blog + .oh {
    margin-left: 20px !important;
    width: 645px;
  }
  .single article > div {
    width: 100%;
  }
  .home h1 {
    padding: 0;
  }
  .mosaique {
    padding: 50px 0 0 20px;
  }
  .mosaique .mos1 {
    margin: 0;
  }
  .mosaique div,
  .mosaique .mos3 {
    margin: 0 0 0 20px;
  }
  .mosaique.simple {
    float: none;
    width: auto;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
  }
  .mosaique.simple .mos1 {
    margin: 0;
  }
  .mosaique.simple div,
  .mosaique.simple .mos3 {
    margin: 0 0 0 20px;
  }
  .mosaique.simple.big {
    width: auto;
    padding-top: 30px;
  }
  .avantages .icon-serrure,
  .avantages .icon-globe,
  .avantages .icon-outil,
  .avantages .icon-fleche {
    width: 25%;
  }
  .actu article > div {
    width: 500px;
  }
}
@media (max-width: 979px) {
  #burger {
    display: block;
  }
  #burger.down {
    position: fixed;
    color: #ffffff;
  }
  #burger.down .btnBurger span {
    margin: 0 0 3px;
    background: #ffffff;
    -webkit-transition: background 0.4s ease-in-out, margin 0.2s, -webkit-transform 0.3s ease-in-out;
    transition: background 0.4s ease-in-out, margin 0.2s,-webkit-transform 0.3s ease-in-out,-moz-transform 0.3s ease-in-out,-o-transform 0.3s ease-in-out,transform 0.3s ease-in-out;
  }
  #burger.down .btnBurger .b2 {
    display: none;
  }
  #burger.down .btnBurger .b1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #burger.down .btnBurger .b3 {
    margin-top: -6px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #burger.down:hover,
  #burger.down:focus {
    color: #f08c05;
  }
  #burger.down:hover .btnBurger span,
  #burger.down:focus .btnBurger span {
    background: #f08c05;
  }
  #logo {
    height: 135px;
  }
  #logo.down {
    position: fixed;
    top: 0;
  }
  header {
    height: 150px;
  }
  header .menu {
    position: fixed;
    width: 100%;
    height: 0;
    top: -500px;
    left: 0;
    z-index: 2;
    margin: 0;
    background: rgba(1, 23, 69, 0.9);
    -webkit-transition: height 0.7s ease-in-out, top 0.5s ease-in-out;
    transition: height 0.7s ease-in-out, top 0.5s ease-in-out;
  }
  header .menu.down {
    height: 100%;
    top: 0;
    -webkit-transition: top 0.3s ease-in-out, height 0.5s ease-in-out;
    transition: top 0.3s ease-in-out, height 0.5s ease-in-out;
  }
  header ul {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -81px;
  }
  header li {
    display: block;
    margin: 0 0 30px;
    text-align: center;
  }
  header a {
    padding: 2px;
    font-size: 1.3em;
    color: #ffffff;
  }
  .mosaique.simple.big div {
    width: 143px;
    height: 144px;
    margin: 0 15px 0 0;
  }
  .avantages .icon-serrure,
  .avantages .icon-globe,
  .avantages .icon-outil,
  .avantages .icon-fleche {
    position: relative;
  }
  .avantages .icon-serrure:before,
  .avantages .icon-globe:before,
  .avantages .icon-outil:before,
  .avantages .icon-fleche:before {
    display: block;
    margin: 0;
    text-align: center;
  }
  .avantages .icon-serrure:after,
  .avantages .icon-globe:after,
  .avantages .icon-outil:after,
  .avantages .icon-fleche:after {
    width: 160px;
    bottom: -15px;
    left: 50%;
    margin-left: -80px;
  }
  .avantages span {
    display: block;
    width: auto;
    padding: 0 20px;
    text-align: center;
  }
  .sidebar-blog {
    margin-left: 20px;
  }
  .sidebar-blog + .oh {
    width: auto;
    margin: 30px 0 0;
  }
}
@media (max-width: 820px) {
  .schema {
    width: 500px;
    height: 735px;
    margin: 50px auto 0;
  }
  .schema span {
    display: block;
    width: 135px;
    padding: 0;
    margin: 10px 0 0;
  }
  .securite {
    right: auto;
    left: 50%;
    margin-left: -161px;
  }
  .utilisateur,
  .prescripteur {
    top: 330px;
    text-align: center;
    background: none;
  }
  .prescripteur {
    left: auto;
    right: 0;
  }
  .bulle {
    top: 115px;
    left: 0;
  }
  .b1 {
    width: 135px;
    height: 289px;
    background: url(../layoutImg/saas/devices_mob.png) no-repeat;
  }
  .b2 {
    width: 74px;
    height: 143px;
    top: 95px;
    left: 50%;
    margin-left: -37px;
    background: url(../layoutImg/saas/smallDevices_mob.png) no-repeat;
  }
  .s1 {
    top: auto;
    bottom: 65px;
    right: 65px;
  }
  .s1 .trait {
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  .s1 .picto {
    top: 15px;
    left: 40px;
  }
  .t1,
  .t2 {
    width: 55px;
    top: 311px;
  }
  .t1 {
    right: 94px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  .t2 {
    left: 94px;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
  .avantages .icon-serrure:after,
  .avantages .icon-globe:after,
  .avantages .icon-outil:after,
  .avantages .icon-fleche:after {
    width: 100px;
    margin-left: -50px;
  }
  .actu article > div {
    width: 400px;
  }
}
@media (max-width: 720px) {
  .main,
  aside,
  .aside {
    width: 400px;
  }
  .blockError {
    float: none;
    display: block;
    margin: 0;
  }
  .mosaique {
    text-align: center;
  }
  .mosaique .mos1 {
    margin: 0 9px 9px 0;
  }
  .mosaique .mos3 {
    margin: 0 9px 0 0;
  }
  .mosaique div {
    margin: 0;
  }
  .mosaique img {
    left: 0;
  }
  .mosaique.simple.big {
    width: 295px;
  }
  .mosaique.simple.big .mos1 {
    margin: 0 9px 9px 0;
  }
  .mosaique.simple.big .mos3 {
    margin: 0 9px 0 0;
  }
  .mosaique.simple.big div {
    margin: 0;
  }
  .avantages > li {
    border-bottom: 1px solid #9c9e9f;
    margin: 15px 0 0;
    padding: 0 0 15px;
  }
  .avantages > li:first-child {
    margin: 0;
  }
  .avantages > li div {
    color: #343434;
  }
  .avantages > li .fleche {
    display: block;
    position: absolute;
    right: 0;
    top: 14px;
    color: #343434;
  }
  .avantages > li .fleche:hover,
  .avantages > li .fleche:focus {
    color: #e64314;
    border-color: transparent;
  }
  .avantages > li .fleche:before {
    content: ' ›';
    font-family: 'lato', sans-serif;
    font-weight: normal;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .avantages > li:hover .fleche,
  .avantages > li:focus .fleche {
    color: #e64314;
  }
  .avantages > li.on .fleche {
    color: #e64314;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 20px;
  }
  .avantages .icon-serrure,
  .avantages .icon-globe,
  .avantages .icon-outil,
  .avantages .icon-fleche {
    display: block;
    width: 100%;
  }
  .avantages .icon-serrure:before,
  .avantages .icon-globe:before,
  .avantages .icon-outil:before,
  .avantages .icon-fleche:before {
    display: inline-block;
    text-align: left;
  }
  .avantages .icon-serrure:after,
  .avantages .icon-globe:after,
  .avantages .icon-outil:after,
  .avantages .icon-fleche:after {
    display: none;
  }
  .avantages span {
    display: inline-block;
    width: 60%;
    padding: 0;
    text-align: left;
  }
  .avantages br {
    display: none;
  }
  #detail {
    display: none;
  }
  .actu article > div {
    margin: 20px 0 0;
    padding: 0 0 40px;
    width: 100%;
  }
  #comments .w50 {
    display: block;
    width: 280px;
  }
  #comments #submit {
    float: none;
  }
}
@media (max-width: 560px) {
  .schema {
    width: 280px;
  }
  .securite {
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .securite img {
    width: 100%;
  }
  .t1,
  .t2 {
    width: 69px;
  }
  .t1 {
    top: 287px;
    left: 12px;
    -webkit-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
  }
  .t2 {
    top: 287px;
    left: 194px;
    -webkit-transform: rotate(-76deg);
    -ms-transform: rotate(-76deg);
    transform: rotate(-76deg);
  }
  .serrure .trait {
    width: 38px;
  }
  .s1 {
    bottom: 61px;
    right: 44px;
  }
  .s1 .picto {
    top: 11px;
    left: 22px;
  }
  .s2 .picto {
    left: -24px;
  }
}
@media (max-width: 515px) {
  img.left,
  img.alignleft,
  img.alignright {
    display: block;
    float: none;
    padding: 0 0 20px;
  }
  img.aligncenter {
    margin: 0;
  }
  .packery > li,
  .packery.fonctions > li {
    width: 45%;
    height: 160px;
  }
  .packery > li img,
  .packery.fonctions > li img {
    width: 87%;
  }
  .packery > li.open,
  .packery.fonctions > li.open,
  .no-js .packery > li,
  .no-js .packery.fonctions > li {
    width: 95%;
    height: auto;
  }
  .packery > li.open h3,
  .packery.fonctions > li.open h3,
  .no-js .packery > li h3,
  .no-js .packery.fonctions > li h3 {
    font-size: 1em;
  }
  .packery > li.open span,
  .packery.fonctions > li.open span,
  .no-js .packery > li span,
  .no-js .packery.fonctions > li span {
    width: 100%;
  }
  .packery h3,
  .packery.fonctions h3 {
    margin: 70px 0 0;
    font-size: 0.75em;
  }
  .packery.partenaires li,
  .packery.fonctions.partenaires li {
    line-height: 160px;
  }
  .mosaique.simple {
    width: 199px;
  }
  .mosaique.simple div {
    margin: 0;
  }
  .mosaique.simple .mos1 {
    margin: 0 15px 15px 0;
  }
  .mosaique.simple .mos3 {
    margin: 0 15px 0 0;
  }
  .single article > div .attachment-msc {
    display: block;
    float: none;
    padding: 0 0 20px;
    margin: 0;
  }
  .single article .btn {
    margin-top: 10px;
    float: none;
    display: block;
    width: 180px;
  }
}
@media (max-width: 460px) {
  .main,
  aside,
  .aside,
  .main.border,
  .aside.border,
  aside.border {
    width: 280px;
    padding: 0 0 10px 0;
  }
  .main.contact,
  aside.contact,
  .aside.contact,
  .main.border.contact,
  .aside.border.contact,
  aside.border.contact {
    padding: 20px 0 20px 0;
  }
  fieldset.w50 {
    width: 100%;
  }
  input[type=text],
  input[type=email],
  input[type=tel] {
    width: 95%;
  }
  select,
  #objet {
    margin-left: 1px;
  }
  .home h1 {
    font-size: 2.9em;
  }
  .home .chapo + .btn {
    width: 160px;
  }
  .mosaique {
    padding-top: 50px;
    text-align: left;
  }
  .mosaique .mos3,
  .mosaique .mos1 {
    margin: 0 10px 0 0;
  }
  .mosaique div {
    width: 135px;
  }
  .mosaique img {
    width: 135px;
  }
  #comments .w50 {
    width: 255px;
  }
}
@media (max-width: 390px) {
  .content.padLeft > h1,
  .content.padLeft > p,
  .content.padLeft > h2,
  .content.padLeft > .oh,
  .content.padLeft > section {
    margin-left: 0;
    margin-right: 0;
  }
  h1.padLeft {
    margin-left: 0;
    margin-right: 0;
  }
  #burger {
    right: 20px;
  }
  .mosaique.simple {
    padding-left: 0;
  }
  .packery {
    margin: 0;
  }
  .no-js .packery > li {
    margin-left: 0;
  }
}
@media (max-width: 330px) {
  .partenaires li.open img {
    padding-top: 50px;
  }
}
@media (max-height: 600px) and (max-width: 979px) {
  header ul {
    top: 140px;
    margin-top: 0;
  }
}
@media (max-height: 515px) and (max-width: 979px) {
  header li {
    margin: 0 0 20px;
  }
}
@media (max-height: 430px) and (max-width: 979px) {
  header ul {
    margin-left: -75px;
  }
  header li {
    margin: 0 0 15px;
  }
  header a {
    font-size: 1.2em;
  }
}
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  * {
    color: #000;
  }
  #menu,
  #burger {
    display: none;
  }
  footer a,
  footer span {
    display: none;
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
