@font-face {
    font-family: 'encodeBold';
    src: url('../font/encode/encodesanswide-bold-webfont.eot');
    src: url('../font/encode/encodesanswide-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/encode/encodesanswide-bold-webfont.woff2') format('woff2'),
         url('../font/encode/encodesanswide-bold-webfont.woff') format('woff'),
         url('../font/encode/encodesanswide-bold-webfont.ttf') format('truetype'),
         url('../font/encode/encodesanswide-bold-webfont.svg#encode_sans_widebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encodeSBold';
    src: url('../font/encode/encodesanswide-semibold-webfont.eot');
    src: url('../font/encode/encodesanswide-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/encode/encodesanswide-semibold-webfont.woff2') format('woff2'),
         url('../font/encode/encodesanswide-semibold-webfont.woff') format('woff'),
         url('../font/encode/encodesanswide-semibold-webfont.ttf') format('truetype'),
         url('../font/encode/encodesanswide-semibold-webfont.svg#encode_sans_widesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../font/lato/Lato-Reg.eot');
  src: url('../font/lato/Lato-Reg.eot?#iefix') format('embedded-opentype'), 
       url('../font/lato/Lato-Reg.woff') format('woff'), 
       url('../font/lato/Lato-Reg.ttf') format('truetype'), 
       url('../font/lato/Lato-Reg.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'latoBold';
  src: url('../font/lato/Lato-Bol.eot');
  src: url('../font/lato/Lato-Bol.eot?#iefix') format('embedded-opentype'),
       url('../font/lato/Lato-Bol.woff') format('woff'), 
       url('../font/lato/Lato-Bol.ttf') format('truetype'), 
       url('../font/lato/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'latoIt';
    src: url('../font/lato/Lato-RegIta.eot');
    src: url('../font/lato/Lato-RegIta.eot?#iefix') format('embedded-opentype'),
         url('../font/lato/Lato-RegIta.woff') format('woff'),
         url('../font/lato/Lato-RegIta.ttf') format('truetype'),
         url('../font/lato/Lato-RegIta.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

.encodeSBold(@size){
  font-family: 'encodeSBold', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.encodeBold(@size){
  font-family: 'encodeBold', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lato(@size){
  font-family: 'lato', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.latoBold(@size){
  font-family: 'latoBold', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.latoIt(@size){
  font-family: 'latoIt', sans-serif;
  font-weight: normal;
  font-size: @size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot?-njuoqu');
  src:url('../font/icomoon.eot?#iefix-njuoqu') format('embedded-opentype'),
    url('../font/icomoon.woff?-njuoqu') format('woff'),
    url('../font/icomoon.ttf?-njuoqu') format('truetype'),
    url('../font/icomoon.svg?-njuoqu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e603";
}
.icon-map:before {
  content: "\e606";
}
.icon-fleche:before {
  content: "\e602";
}
.icon-outil:before {
  content: "\e604";
}
.icon-serrure:before {
  content: "\e605";
}
.icon-close:before {
  content: "\e601";
}
.icon-enveloppe:before {
  content: "\e600";
}