/* @group import */

@import "lesshat.less";
@import "fonts.less";

/* @end */

/* @group global var */

@blanc: #fff;
@noir: #000;
@orange: #f08c05;
@orangeTitre: #e14d07;
@jauneDate: #f9ba41;
@bleu: #011745;
@bleuPale: #7089bd;
@bleuSaas: #83d0f6;
@rouge: #e64314;
@rougePale: #f2a189;
@error: #ff000d;
@txt: #343434;
@border: #9c9e9f;
@borderLigth: #dcdcdc;
@grisFooter: #9f9f9f;
@grisLien: #797979;
@grisFond: #fcfcfc;
@grisFonce: #4c5361;

/* @end */

/* @group Boilerplate */

html,
button,
input,
select,
textarea {
    color: @txt;
}
hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}
img {
    vertical-align: middle;
    &.left{
      float: left;
      padding: 0 20px 10px 0;
    }
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
textarea {
    resize: vertical;
}

/* @end */

/* @group Mes styles */

body{
  .lato(0.88em);
  color: @txt;
}

strong, b{
  .latoBold(1em);
}

em, i{
  .latoIt(1em);
  font-style: normal;
}

blockquote{
  .latoIt(1em);
  margin: 1em 20px;
}

/* Liens et boutons */

a{
  border-bottom: transparent 1px solid;
  text-decoration: none;
  color: @orange;
  .transition(.2s ease-in-out);
  &:hover, &:focus{
    color: @rouge;
    border-color: @rouge;
    outline: 0;
    .transition(.1s ease-in-out);
  }
  &:active{
    opacity: 0.7;
  }
}

.btn{
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 30px;
  border: 0;
  background: @bleu;
  .latoBold(1em);
  text-transform: uppercase;
  color: @blanc;
  letter-spacing: 1px;
  border-radius: 7px;
  &:hover, &:focus{
    background: @rouge;
    color: @blanc;
    &:before{
      left: 20px;
      .transition(left .1s ease-in-out);
    }
  }
  &:before{
    content: '›';
    position: absolute;
    margin-top: -13px;
    top: 50%;
    left: 15px;
    font-size: 1.5em;
    .transition(left .2s ease-in-out);
  }
  &.float{
    float: right;
  }
}
.btnO{
  background: @orange;
}

.lien{
  position: relative;
  margin: 5px 0 10px;
  padding: 0 5px 0 0;
  border-bottom: 1px solid; 
  .latoIt(1.4em);
  &:before{
    content: '›';
    position: absolute;
    left: -15px;
    .transition(left .4s ease-in-out);
  }
  &:hover, &:focus{
    color: @rouge;
    &:before{
      left: -10px;
      .transition(left .2s ease-in-out);
    }
  }
}

.icon-close{
  position: absolute;
  border: 0;
  &:hover, &:focus{
    .transform(rotate(-180deg));
    color: @rouge;
  }
}


/* Styles génériques */

h1, .h1{
  padding: 30px 0 0;
  border-bottom: 1px solid @border;
  .encodeBold(1.4em);
  color: @orangeTitre;
  text-transform: uppercase;
  margin: 0.67em 0 1em;
  &.padLeft{
    margin-left: 20px;
    margin-right: 20px;
  }
}
.smallH1{
  padding: 30px 0 5px; 
  font-size: 1em;
  &.icon-enveloppe, &.icon-map{
    position: relative;
    margin: 15px 0 20px 40px;
    &:before{
      position: absolute;
      top: 14px;
      left: -40px;
      font-family: 'icomoon';
      font-size: 50px;
      color: @rougePale;    
    }
  }
  &.icon-map{
    margin-left: 36px;
    color: @rouge;
    &:before{
      top: 17px;
      font-size: 41px;
    }
  }
}

h2, .h2{
  .encodeBold(1.5em);
  color: @txt;
}
.h2Bleu{
  padding: 30px 0 10px 20px;
  border-bottom: 1px solid @border;
  font-size: 1.15em;
  text-transform: uppercase;
  color: @bleuPale;
}

ul{
  list-style: none;
  li{
    outline: 0;
    &:before{
      content: '• ';
      font-size: 10px;
      color: @rouge;
    }
  }
}

.bigP{
  font-size: 1.15em;
}
.chapo{
  .latoBold(1.1em);
}


/* Blocs de contenu */

.wrapper{
  width: 1040px;
  margin: 0 auto;
}

.content{
  margin: 40px;
  &.padLeft{
    > h1, > p, > h2, > .oh, > section{
      margin-left: 20px;
    }
  }
}
.main{
  display: inline-block;
  width: 605px;
  padding: 0 0 0 20px;
  &.border{
    padding: 0 0 10px 20px;
    border-bottom: @border 1px solid;
  }
}
aside, .aside{
  display: inline-block;
  width: 295px;
  margin: 0 0 0 40px;
  vertical-align: top;
  &.border{
    padding: 0 0 10px;
    border-bottom: @border 1px solid;
  }
  &.contact{
    padding-bottom: 30px;
  }
}
section{
  margin: 0 0 20px 0;
}

.fl{
  float: left;
}
.oh{
  overflow: hidden;
}
.w720{
  width: 720px;
}
.w480{
  width: 480px;
}

.orange{
  color: @orange;
}


/* Formulaires */

form{
  + p{
    display: inline-block;
    span{
      color: @rouge;
    }
  }
  >fieldset:first-child{
    margin: 0;
  }
}

fieldset{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 20px;
  &.w50{
    width: 50%;
  }
  &.message{
    display: block;
  }
  &.error{
    input{
      border-color: @error;
    }
  }
}

input, textarea{
  display: block;
  padding: 5px;
  border: 1px solid @noir;
  .lato(1em);
  border-radius: 4px;
  outline: 0;
  .transition(border .2s ease-in-out);
  &:focus{
    border-color: @orange;
    .transition(border .1s ease-in-out);
  }
}

input{
  &[type=text], &[type=email], &[type=tel]{
    width: 271px;
    height: 16px;
  }
  &[type=submit]{
    margin: 20px 0 10px;
    padding: 10px 20px;
    .transition(.2s ease-in-out);
    &:hover, &:focus{
      .transition(.1s ease-in-out);
    }
  }
}

#nom, #tel{
  width: 200px;
}

textarea{
  width: 95%;
  height: 150px;
}

select{
  cursor: pointer;
  font-size: 16px;
  min-width: 80px;
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}
.select{
  margin: 0 10px 0 0;
  width: 50px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 5px 4px;
  background: #f8f8f8 url(../layoutImg/select.png) no-repeat 90% 50%;
  overflow: hidden;
  &.objet{
    width: 250px;
    margin: 10px 0 0;
    display: block;
    background-position: 97% 50%;
  }
}

#objet{
  width: 280px;
}

label{
  margin: 0 0 5px;
  display: block;
  span{
    color: @rouge;
  }
}

.blockError{
  float: right;
  display: inline-block;
  margin: -40px 80px 0 0;
  .latoIt(1em);
  span{
    color: @error;
  }
}


/* Logo */

#logo{
  display: inline-block;
  position: relative;
  width: 148px;
  height: 123px;
  margin: 0 10px 0 0;
  border: 0;
  z-index: 2;
  background: url(../layoutImg/logo.png) no-repeat 0 100%;
}


/* Burger responsive menu */

#burger{
  display: none;
  position: absolute;
  top: 45px;
  right: 40px;
  z-index: 2;
  border: 0;
  font-size: 1.2em;
  color: @bleu;
  &:hover, &:focus{
    color: @orange;
    .btnBurger{
      span{
        margin: 0 0 4px;
        background: @orange;
        .transition(background .3s ease-in-out, margin .2s);
      }
    }
  }
}
.btnBurger{
  display: inline-block;
  margin: 0 0 0 10px;
  vertical-align: middle;
  span{
    display: block;
    width: 20px;
    height: 3px;
    margin: 0 0 3px;
    background: @bleu;
    border-radius: 10px;
    .transition(background .3s ease-in-out, margin .2s, transform .3s ease-in-out);
  }
}


/* Header */

header{
  padding: 0 10px;
  .menu{
    display: inline-block;
    padding: 25px 0 0;
    vertical-align: top;
  }
  ul{
    display: inline-block;
    padding: 0;
  }
  li{
    display: inline-block;
    margin: 0 0 0 25px;
    &:before{
      display: none;
    }
    &.current-menu-item{
      a{
        border-bottom: 5px solid @rouge;
        color: @orange;
        .transition(.1s ease-in-out);
      }
    }
  }
  a{
    padding: 8px 2px;
    .encodeBold(0.9em);
    text-transform: uppercase;
    color: @bleu;
    .transition(.2s ease-in-out);
    &:hover, &:focus, &.actif{
      border-bottom: 5px solid @rouge;
      color: @orange;
      .transition(.1s ease-in-out);
    }
  }
}

/* Footer */

footer{
  padding: 60px 20px 20px;
  p{
    text-align: center;
    color: @grisFooter;
  }
  a{
    border-bottom: 1px solid;
    color: @grisLien;
    &:hover, &:focus{
      color: @bleu;
      border-color: @bleu;
    }
  }
}


/* Page d'accueil */

.home{
  h1{
    margin: 0;
    padding: 71px 0 0;
    border: 0;
    .encodeSBold(3.3em);
    text-transform: uppercase;
    color: @bleu;
  }
  .lien{
    float: right;
    font-size: 1.7em;
  }
}

/* Mosaique, page d'accueil, a propos et cartographie */

.mosaique{
  vertical-align: bottom;
  div{
    display: inline-block;
    position: relative;
    width: 143px;
    height: 144px;
    vertical-align: top;    
  }
  .mos1{
    margin: 0 9px 9px 0;
  }
  .mos3{
    margin: 0 9px 0 0;
  }
  img{
    position: absolute;
  }
  &.simple{
    float: right;
    width: 199px;
    margin: 40px 0 0;
    div{
      .size(92px);
    }
    img{
      width: 100%;
    }
    .mos1{
      margin: 0 15px 15px 0;
    }
    .mos3{
      margin: 0 15px 0 0;
    }
    &.big{
      width: 433px;
      div{
        .size(209px);
      }
    }
  }
}

/* Packery, pages partenaires, references, cartographie */

.packery{
  padding: 10px 0 0;
  margin: 0 0 0 19px;
  > li{
    .size(221px);
    .box-sizing(border-box);
    text-align: center;
    color: @blanc;
    cursor: pointer;
    &:hover, &:focus{
      h3{
        &:before{
          padding: 0 5px 0 0;
          .transition(.2s ease-in-out);
        }
      }
    }
    li{
      padding: 0 0 7px;
      font-size: 1.15em;
    }
    &:before{
      display: none;
    }
    &.open, .no-js &{
      .size(460px);
      padding: 22px 25px;
      text-align: left;
      cursor: auto;
      .btn{
        display: inline-block;
        &:before{
          margin-top: -11px;
        }
      }
      span{
        display: block;
        margin: 50px 0 25px;
        width: 300px;
      }
      ul{
        display: block;
        margin: 50px 0 25px;
        padding: 0;
      }
      p{
        font-size: 1.15em;
      }
      .icon-close, p{
        display: block;
      }
      h3{
        margin: 0; 
        text-indent: 9px;
        &:before{
          margin: 0 0 0 -15px;
          padding: 0 10px 0 0;
          .transform(rotate(90deg));
          .transition(.2s ease-in-out);
        }
        span{
          width: auto;
          margin: 0;
        }
        +p{
          margin-top: 50px;
        }
      }
    }
  }
  span, ul, .btn, p{
    display: none;
  }
  h3{
    display: inline-block;
    margin: 100px 0 0;
    .encodeBold(1em);
    text-transform: uppercase;
    &:before{
      content: '▶ ';
      display: inline-block;
      padding: 0 10px 0 0;
      font-size: 9px;
      .transition(.2s ease-in-out);
      .lt-ie9 &{
        display: none;
      }
    }
    span{
      display: block;
      .latoBold(1.1em);
      text-align: center;
      text-transform: none;      
    }
  }
  .icon-close{
    display: none;
    top: 12px;
    right: 12px;
    font-size: 35px;
    color: @blanc;
    &:hover, &:focus{
      color: @rouge;
    }
  }
  &.partenaires{
    li{
      border: 1px solid @borderLigth;
      background: @grisFond;
      line-height: 215px;
      color: @txt;
      .transition(border-color .2s ease-in-out);
      &:hover, &:focus{
        border-color: @bleu;
        .transition(border-color .1s ease-in-out);
      }
      &.open, .no-js &{
        line-height: 18px;
      }
    }
    .icon-close{
      color: @bleu;
      &:hover, &:focus{
        color: @orange;
      }
    }
  }
  &.module{
    > li{
      background: @bleu;
    }
  }
  &.fonctions{
    > li{
      width: 173px;
      background: @orange;
      &.open, .no-js &{
        width: 365px;
      }
    }
  }
  .no-js &{
    margin: 0;
    > li{
      display: inline-block;
      vertical-align: top;
      cursor: auto;
      margin: 0 0 19px 19px;
      .icon-close{
        display: none;
      }
    }
  }
}


/* Schema page Saas */

.schema{
  position: relative;
  height: 380px;
  margin: 50px 0 0;
  span{
    display: inline-block;
    width: 110px;
    vertical-align: middle;
    padding: 0 5px;
    .encodeBold(1em);
    text-align: center;
    text-transform: uppercase;
    color: @orange;
  }
}

.elt{
  position: absolute;
}

.securite{
  top: 0;
  right: 0;
}
.utilisateur{
  top: 15px;
  left: 0;
  background: @blanc;
}
.prescripteur{
  bottom: 61px;
  left: 0;
  background: @blanc;
  span{
    width: 135px;
  }
}
.bulle{
  top: 50px;
  left: 50px;
}
.b1{
  width: 343px;
  height: 145px;
  background: url(../layoutImg/saas/devices.png) no-repeat;
}
.b2{
  width: 166px;
  height: 72px;
  background: url(../layoutImg/saas/smallDevices.png) no-repeat;
}
.serrure{
  right: 205px;
  .trait{
    width: 60px;
    .lt-ie9 &{
      background: none;
    }
  }
}
.picto{
  .size(42px);
  z-index: 1;
  background: url(../layoutImg/saas/serrure.png) no-repeat;
}
.s1{
  top: 60px;
  .picto{
    top: -35px;
    left: -25px;
  }
  .trait{
    .transform(rotate(30deg));
  }
}
.s2{
  bottom: 65px;
  .picto{
    bottom: -46px;
    left: -20px;
  }
  .trait{
    .transform(rotate(-45deg));
  }
}
.trait{
  height: 10px;
  background: @bleuSaas;
}
.t1{
  width: 475px;
  top: 40px;
  right: 275px;
}
.t2{
  width: 460px;
  bottom: 86px;
  right: 275px;
}


/* Liste avantages page Saas */

.avantages{
  padding: 0 0 40px;
  > li{
    display: inline-block;
    cursor: pointer;
    .transition(color .3s ease-in-out);
    &:before{
      vertical-align: middle;
      font-size: 90px;
      .transition(color .3s ease-in-out);
    }
    &:after{
      content: ' ▾ ';
      display: block;
      position: absolute;
      width: 160px;
      height: 0;
      background: @orangeTitre;
      font-size: 0;
      line-height: 0;
      text-align: center;
      color: @orangeTitre;
      .transition(font-size .3s ease-in-out, height .3s ease-in-out .1s);
      .lt-ie9 &{
        content: ' ';
      }
    }
    &.on, &:hover, &:focus{
      color: @orangeTitre;
      .transition(color .3s ease-in-out);
      &:before{
        color: @orangeTitre;
        .transition(color .3s ease-in-out);
      }
      &:after{
        height: 6px;
        font-size: 25px;
        line-height: 11px;
        .transition(height .3s ease-in-out, font-size .3s ease-in-out .1s);
        .lt-ie9 &{
          content: '';
        }
      }
    }
    .no-js &{
      display: block;
      width: 100%;
      cursor: auto;
      &:hover{
        &:after{
          display: none;
        }
      }
    }
  }
  span{
    display: inline-block;
    width: 122px;
    vertical-align: middle;
    .encodeBold(0.9em);
    line-height: 16px;
    text-transform: uppercase;
    .no-js &{
      width: 70%;
      br{
        display: none;
      }
    }
  }
  .icon-serrure{
    width: 220px;
    &:before{
      margin-left: -12px;
      color: @bleuSaas;
    }
    &.on{
      &:before{
        .lt-ie9 &{
          content: "\e605 ";
        }
      }
    }
  }
  .icon-globe{
    width: 260px;
    &:before{
      color: @orange;
    }
    &.on{
      &:before{
        .lt-ie9 &{
          content: "\e603 ";
        }
      }
    }
    &:after{
      width: 175px;
      margin-left: 15px;
    }
  }
  .icon-outil{
    width: 260px;
    &:before{
      color: @grisFooter;
    }
    &.on{
      &:before{
        .lt-ie9 &{
          content: "\e604 ";
        }
      }
    }
    &:after{
      width: 183px;
      margin-left: 12px;
    }
  }
  .icon-fleche{
    width: 200px;
    &:before{
      color: @grisFonce;
    }
    &.on{
      &:before{
        .lt-ie9 &{
          content: "\e602 ";
        }
      }
    }
    &:after{
      width: 166px;
      margin-left: 6px;
    }
  }
  div{
    display: none;
    margin: 10px 0 30px;
    .lato(1.15em);
    cursor: auto;
    p{
      margin: 0;
    }
    ul{
      margin: 5px 0 0;
      padding: 0 0 0 20px;
      li{
        &:before{
          font-size: 15px;
        }
      }
    }
    .no-js &{
      display: inline-block;
    }
  }
  .fleche{
    display: none;
  }
}

#detail{
  display: none;
  .lato(1.15em);
  color: @orangeTitre;
  ul{
    margin: 5px 0 0;
    padding: 0 0 0 20px;
    li{
      &:before{
        font-size: 15px;
      }
    }
  }
  p{
    margin: 0;
  }
}


/* Page Contact */

.adress{
  margin-bottom: 30px;
  text-align: center;
  span{
    color: @rouge;
  }
  + .lien{
    margin-left: 55px;
    .icon-enveloppe{
      position: absolute;
      top: -10px;
      left: -58px;
      font-size: 50px;
      color: @rougePale;
    }
  }
}

#map{
  height: 220px;
}


/* Actualités */

.blog{
  article{
    position: relative;
    overflow: hidden;
    padding: 0 0 30px;
    margin: 0 0 25px;
    &:after{
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      background: url(../layoutImg/border.png) repeat-x;
    }
  }
}

time{
  color: @jauneDate;
  .encodeBold(0.9em);
  +h2{
    margin-top: 5px;
  }
}

.navActus{
  padding: 0;
  text-align: center;
  li{
    display: inline;
    &:before{
      display: none;
    }
  }
  a{
    color: @txt;
    &:hover, &:focus{
      color: @rouge;
    }
  }
}


.single{
  article{
    >img, >div{
      display: inline-block;
      vertical-align: top;
    }
    >img{
      margin: 0 35px 50px 0;
    }
    >div{
      width: 685px;
      padding: 0 0 20px;
      border-bottom: 1px solid @border;
    }
    .btn{
      margin-top: -20px;
      float: left;
      &:before{
        content: '‹';
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -10px;
        height: 37px;
        width: 10px;
        background: @blanc;
      }
      &:hover, &:focus{
        &:before{
          left: 10px;
        }
      }
    }
  }
}



/* @group General */

/* selection */
::-moz-selection { 
	background: @bleu;  
	color: @blanc;
	text-shadow: none; 
}
::selection { 
	background: @bleu;  
	color: @blanc; 
	text-shadow: none; 
}

/* @end */




/* @end */
  

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* masquage de texte, alternative (buggé?) */
.hide-text {
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

/* masqué */
.hidden {
    display: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* @end */


/* ==|== media queries ======================================================
   ========================================================================== */


@media (max-width: 1040px) {

  .wrapper{
    width: 100%;
  }

  .content{
    margin: 20px;
    &.padLeft{
      > h1, > p, > h2, > .oh, > section{
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }

  .main, aside, .aside{
    display: block;
    width: 635px;
    margin: 0 auto;
  }
  aside, .aside{
    &.border{
      padding: 0 0 0 20px;
    }
    &.contact{
      padding: 20px 0 30px 20px;
    }
  }

  .fl{
    float: none;
  }
  .w720, .w480{
    width: auto;
  }
  

  .home{
    h1{
      padding: 0;
    }
  }

  .mosaique{
    padding: 50px 0 0 20px;
    .mos1{
      margin: 0;
    }
    div, .mos3{
      margin: 0 0 0 20px;
    }
    &.simple{
      float: none;
      width: auto;
      margin: 0;
      padding: 10px 0 0 0;
      text-align: left;
      .mos1{
        margin: 0;
      }
      div, .mos3{
        margin: 0 0 0 20px;
      }
      &.big{
        width: auto;
        padding-top: 30px;
      }
    }
  }

  .avantages{
    .icon-serrure, .icon-globe, .icon-outil, .icon-fleche{
      width: 25%;
    }
  }

  .actu{
    article{
      >div{
        width: 500px;
      }
    }
  }
}


@media (max-width: 979px) {
  
  #burger{
    display: block;
    &.down{
      position: fixed;
      color: @blanc;
      .btnBurger{
        span{
          margin: 0 0 3px;
          background: @blanc;
          .transition(background .4s ease-in-out, margin .2s, transform .3s ease-in-out);
        }
        .b2{
          display: none;
        }
        .b1{
          .transform(rotate(45deg));
        }
        .b3{
          margin-top: -6px;
          .transform(rotate(-45deg));
        }
      }
      &:hover, &:focus{
        color: @orange;
        .btnBurger{
          span{
            background: @orange;
          }
        }
      }
    }
  }
  
  #logo{
    height: 135px;
  }
  #logo.down{
    position: fixed;
    top: 0;
  }

  header{
    height: 150px;
    .menu{
      position: fixed;
      width: 100%;
      height: 0;
      top: -500px;
      left: 0;
      z-index: 2;
      margin: 0;
      background: rgba(1, 23, 69, 0.9);
      .transition(height .7s ease-in-out, top .5s ease-in-out);
      &.down{
        height: 100%;
        top: 0;
        .transition(top .3s ease-in-out, height .5s ease-in-out);
      }
    }
    ul{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -170px;
      margin-left: -81px;
    }
    li{
      display: block;
      margin: 0 0 30px;
      text-align: center;
    }
    a{
      padding: 2px;
      font-size: 1.3em;
      color: @blanc;
    }
  }

  .mosaique.simple.big{
    div{
      width: 143px;
      height: 144px;
      margin: 0 15px 0 0;
    }   
  }

  .avantages{
    .icon-serrure, .icon-globe, .icon-outil, .icon-fleche{
      position: relative;
      &:before{
        display: block;
        margin: 0;
        text-align: center;
      }
      &:after{
        width: 160px;
        bottom: -15px;
        left: 50%;
        margin-left: -80px;
      }
    }
    span{
      display: block;
      width: auto;
      padding: 0 20px;
      text-align: center;
    }
  }

}


@media (max-width: 820px) {

  .schema{
    width: 500px;
    height: 735px;
    margin: 50px auto 0;
    span{
      display: block;
      width: 135px;
      padding: 0;
      margin: 10px 0 0;
    }
  }
  
  .securite{
    right: auto;
    left: 50%;
    margin-left: -161px;
  }

  .utilisateur, .prescripteur{
    top: 330px;
    text-align: center;
    background: none;
  }

  .prescripteur{
    left: auto;
    right: 0;
  }

  .bulle{
    top: 115px;
    left: 0;
  }

  .b1{
    width: 135px;
    height: 289px;
    background: url(../layoutImg/saas/devices_mob.png) no-repeat;
  }
  .b2{
    width: 74px;
    height: 143px;
    top: 95px;
    left: 50%;
    margin-left: -37px;
    background: url(../layoutImg/saas/smallDevices_mob.png) no-repeat;
  }

  .s1{
    top: auto;
    bottom: 65px;
    right: 65px;
    .trait{
      .transform(rotate(50deg));
    }
    .picto{
      top: 15px;
      left: 40px;
    }
  }

  .t1, .t2{
    width: 55px;
    top: 311px;
  }
  .t1{
    right: 94px;
    .transform(rotate(40deg));
  }
  .t2{
    left: 94px;
    .transform(rotate(-40deg));
  }

  .avantages{
    .icon-serrure, .icon-globe, .icon-outil, .icon-fleche{
      &:after{
        width: 100px;
        margin-left: -50px;
      }
    }
  }

  .actu{
    article{
      >div{
        width: 400px;
      }
    }
  }


}

@media (max-width: 720px) {

  .main, aside, .aside{
    width: 400px;
  }
  
  .blockError{
    float: none;
    display: block;
    margin: 0;
  }

  .mosaique{
    text-align: center;
    .mos1{
      margin: 0 9px 9px 0;
    }
    .mos3{
      margin: 0 9px 0 0;
    }
    div{
      margin: 0;
    }
    img{
      left: 0;
    }
    &.simple{
      &.big{
        width: 295px;
        .mos1{
          margin: 0 9px 9px 0;
        }
        .mos3{
          margin: 0 9px 0 0;
        }
        div{
          margin: 0;
        }
      }
    }
  }

  .avantages{
    > li{
      border-bottom: 1px solid @border;
      margin: 15px 0 0;
      padding: 0 0 15px;
      &:first-child{
        margin: 0;
      }
      div{
        color: @txt;
      }
      .fleche{
        display: block;
        position: absolute;
        right: 0;
        top: 14px;
        color: @txt;
        &:hover, &:focus{
          color: @rouge;
          border-color: transparent;
        }
        &:before{
          content: ' ›';
          .lato(50px);
        }
      }
      &:hover, &:focus{
        .fleche{
          color: @rouge;
        }
      }
      &.on{
        .fleche{
          color: @rouge;
          .transform(rotate(90deg));
          top: 20px;
        }
      }
    }
    .icon-serrure, .icon-globe, .icon-outil, .icon-fleche{
      display: block;
      width: 100%;
      &:before{
        display: inline-block;
        text-align: left;
      }
      &:after{
        display: none;
      }
    }
    span{
      display: inline-block;
      width: 60%;
      padding: 0;
      text-align: left;
    }
    br{
      display: none;
    }
  }

  .actu{
    article{
      >div{
        margin: 20px 0 0;
        padding: 0 0 40px;
        width: 100%;
      }
    }
  }

}

@media (max-width: 560px) {

  .schema{
    width: 280px;
  }

  .securite{
    width: 100%;
    left: 0;
    margin-left: 0;
    img{
      width: 100%;
    }
  }
  
  .t1, .t2{
    width: 69px;
  }
  .t1{
    top: 287px;
    left: 12px;
    .transform(rotate(75deg));
  }
  .t2{
    top: 287px;
    left: 194px;
    .transform(rotate(-76deg));
  }

  .serrure{
    .trait {
      width: 38px;
    }
  }
  .s1{
    bottom: 61px;
    right: 44px;
    .picto{
      top: 11px;
      left: 22px;
    }
  }
  .s2{
    .picto{
      left: -24px;
    }
  }

}

@media (max-width: 515px) {

  img{
    &.left{
      display: block;
      float: none;
      padding: 0 0 20px;
    }
  }

  .packery, .packery.fonctions{
    > li{
      width: 45%;
      height: 160px;
      img{
        width: 87%;
      }
      &.open, .no-js &{
        width: 95%;
        height: auto;
        h3{
          font-size: 1em;
        }
        span{
          width: 100%;
        }
      }
    }
    h3{
      margin: 70px 0 0;
      font-size: 0.75em;
    }
    &.partenaires{
      li{
        line-height: 160px;
      }
    }
  }

  .mosaique{
    &.simple{
      width: 199px;
      div{
        margin: 0;
      }
      .mos1{
        margin: 0 15px 15px 0;
      }
      .mos3{
        margin: 0 15px 0 0;
      }
    }
  }

}

@media (max-width: 460px) {
  .main, aside, .aside, .main.border, .aside.border, aside.border{
    width: 280px;
    padding: 0 0 10px 0;
    &.contact{
      padding: 20px 0 20px 0;
    }
  }
  
  fieldset{
    &.w50{
      width: 100%;
    }
  }
  input{
    &[type=text], &[type=email], &[type=tel]{
      width: 95%;
    }
  }
  select, #objet{
    margin-left: 1px;
  }

  .home{
    h1{
      font-size: 2.9em;
    }
    .chapo + .btn{
      width: 160px;
    }
  }

  .mosaique{
    padding-top: 50px;
    text-align: left;
    .mos3, .mos1{
      margin: 0 10px 0 0;
    }
    div{
      width: 135px;
    }
    img{
      width: 135px;
    }
  }

}

@media (max-width: 390px) {

  .content{
    &.padLeft{
      > h1, > p, > h2, > .oh, > section{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  h1.padLeft{
    margin-left: 0;
    margin-right: 0;
  }

  #burger{
    right: 20px;
  }

  .mosaique{
    &.simple{
      padding-left: 0;
    }
  }

  .packery{
    margin: 0;
    .no-js &{
      > li{
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 330px) {

  .partenaires{
    li{
      &.open{
        img{
          padding-top: 50px;
        }
      }
    }
  }

}



@media (max-height: 600px) and (max-width: 979px){
  header ul{
    top: 140px;
    margin-top: 0;
  }
}

@media (max-height: 515px) and (max-width: 979px){
  header li{
    margin: 0 0 20px;
  }
}

@media (max-height: 430px) and (max-width: 979px){
  header {
    ul{
      margin-left: -75px;
    }
    li{
      margin: 0 0 15px;
    }
    a{
      font-size: 1.2em;
    }
  }
}


/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    
}



/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  *{color: #000;}
  #menu, #burger{
    display: none;
  }
  footer{
    a, span{
      display: none;
    }
  }
  pre, blockquote { page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

